html,
body {
  padding: 0;
  margin: 0;
  font-family:menlo;
  background:#484848; 
}


* {
  box-sizing: border-box;
  width:100%
}

pre {
   font-family:menlo;
   margin:0;
}
a {
   color:white;
}
a:hover {
   text-decoration: underline;
   color:red
}

