html,
body {
  padding: 0;
  margin: 0;
  font-family:menlo;
  background:gray; 
}


* {
  box-sizing: border-box;
}

a {
  background:navy;
  color:white;
}

a:hover {
   text-decoration: underline;
   color:red
}

img {
   max-width:100%;
   display:block;
}
