.tile {
   background:navy;
   color:white;
   padding:10px;
   border:10px solid black;
}
 
.mainGrid {
   display:grid;
   grid-template-columns:auto auto auto;
   padding:0px;
   grid-auto-rows: 200px;

}
