.tile {
   background:navy;
   color:white;
   padding:5px;
   border:2px solid black;
}
 
.mainGrid {
   display:grid;
   padding:2px;
   grid-template-columns: auto auto auto;
   grid-auto-rows: 200px;
}
